.cv-name {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.degree ul {
  margin-bottom: 0; /* Remove default margin */
  list-style: none;
}

.loc-yr {
  text-align: right; /* Align right column content to right */
  margin-top: 5px;
}

.job-desc ul {
    list-style:square;
}

.table {
  background-color: transparent !important;
  margin-left: 2%;
}

.table th,
.table td {
  background-color: transparent;
  border: none;
}

table,
table td,
table th,
table tr {
  color: inherit !important; /* Inherit from parent */
}

.cv-skill a:is(:link, :visited, :active, :focus) {
  color: inherit;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.cv-skill a {
  position: relative;
}

.cv-skill a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.cv-skill a:hover::after {
  width: 100%;
}