body {
  background-color: gray !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*Full screen height */
  padding-top: 60px;
  padding-bottom: 0px;
}
main {
  flex: 1; /* Take available space */
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
}

.text-justify {
  text-align: justify;
}

.rounded-custom {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.trimmed-diagonal {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

#story{
  flex: 1;
}

/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.contact-container-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px; /* extra breathing space */
}
.contact-container-2 {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
  background: #dfabab;
  max-width: 1200px;   /* set a max width */
  width: 90%;          /* make it responsive */
}
.contact-image {
  object-fit: cover;
  height: 100%;
}
